 /*个案管理的css*/

  body { font-size: 2.5vw;} 
 a,p,label, input, button, select, textarea{font-size: 2.5vw !important;}
.item ,.button{font-size: 2.5vw;} 
* { margin: 0; padding: 0; }
header, footer, section { display: block; }
html, body { font-family: '微软雅黑', '宋体'; font-size: 100%; width: 100%; background: #fff; height: 100%; color: #3c3c3c; }
ul, li, ol { list-style: none; }
i, em, b { font-style: normal; }
mg, select, input { border: none; -webkit-appearance: none; }
a, input, img, select { outline: none; }
textarea { resize: none; outline: none; }
input::-webkit-input-placeholder {color: #323232;}
::-webkit-scrollbar {
 width: 0;
 height: 0;
 background-color: #F5F5F5;
}
.img-url { font-size: 0 !important; }
.img-url img { width: 100%; text-align: center; }
.flex { display: block; -webkit-box-flex: 1; z-index: 555; }
.box-wc {width: 100%;-webkit-box-align:center;}
.box-c {-webkit-box-align:center;}
.box-vm { display: box !important; display: -webkit-box !important; width: 100%; -webkit-box-align: center;  }
.box-vl { display: box !important; display: -webkit-box !important; width: 100%; -webkit-box-align: center; -webkit-box-pack: start; }
.box-vb { display: box !important; display: -webkit-box !important; width: 100%; -webkit-box-align: end; -webkit-box-pack: center; }
.c-blue { color: #5abefa; }
.c-yellow { color: #ffb144; }
.c-black { color: #333; }
.c-white { color: #fff; }
.c-grey { color: #999; }
.c-purple { color: #911c77; }
.b-yellow { background: #f3ec0a; }
.b-blue { background: #5abefa; }
.b-white { background: #fff; }
.b-grey { background: #f2f2f2; }
.bt { border-top: 1px solid #DEDEDE !important; }
.bb { border-bottom: 1px solid #DEDEDE; }
.br { border-right: 1px solid #c9c9c9; }
.br1 { border-right: 1px solid #cacaca; }
.lh20 { line-height: 1.25rem; }
.box-s { box-sizing: border-box !important; }
.bd-none { border: none !important; }
.ml-zero { margin-left: 0 !important; }
.ml5 { margin-left: 0.3125rem; }
.ml10 { margin-left: 0.625rem; }
.ml20 { margin-left: 1.25rem; }
.ml50 { margin-left: 2.5rem !important; }
.ml3rem { margin-left: 3rem !important; }
.mb20 { margin-bottom: 1.25rem; }
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 0.3125rem; }
.mt10 { margin-top: 0.625rem !important; }
.mt20 { margin-top: 1.25rem !important; }
.mt50 { margin-top: 2rem !important; }
.mt8px { margin-top: 24px !important; }
.mt60 {margin-top: 3.625rem !important}
.mt80 { margin-top: 4.5rem !important; }
.mr10 { margin-right: 0.625rem; cursor: pointer; }
.mr5 { margin-right: 0.3125rem; }
.mr20 { margin-right: 1.25rem; }
.mr30 { margin-right: 2rem; }
.mr3rem { margin-right: 3rem; }
.mb10 { margin-bottom: 0.625rem !important; }
.mb20 { margin-bottom: 1.25rem !important; }
.mb3 { margin-bottom: 1.5rem !important; }
.p10 { padding: 0.625rem; box-sizing: border-box !important; }
.pl10 { padding-left: 0.625rem; }
.pt2 { padding-top: 2%; }
.pt25{padding-top: 25%};
.pt10 { padding-top: 0.625rem; }
.pr10 { padding-right: 0.625rem; }
.pr12p {padding-right:  12% !important;}
.pr20 { padding-right: 1.25rem; }
.p1rem { padding: 1rem !important; box-sizing: border-box; }
.pb10 { padding-bottom: 0.625rem !important; }
.fs12 { font-size: 0.75rem !important; }
.fs14 { font-size: 14px !important; overflow: hidden; }
.fs16 { font-size: 1rem !important; }
.fs18 { font-size: 18px !important; }
.fs20 { font-size: 1rem !important; }
.fs25 {font-size: 1.5rem !important; }
.fs30 { font-size: 2rem !important; }
.fb { font-weight: bold; }
.fr { float: right; }
.fl { float: left; }
.ti10 { text-indent: 0.625rem; }
.two-line { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; }
.vm { display: inline-block; vertical-align: middle; }
.mbp { -webkit-box-pack: center; }
.p-relative { position: relative; }
.clearfix:after { content: '.'; display: block; visibility: hidden; height: 0; clear: both; }
.tc { text-align: center; }
.i { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left !important; }
.dblock { display: block; }
.dpn {display: none;}
.dpib{display: inline-block;}
a, input, img, select { outline: none; }
textarea { resize: none; outline: none; }
.txt_search { width: 95%; margin-left: 25px; border-bottom: 1px solid #ccc; border-radius: 5px; height: 25px; text-indent: 15px; font-size: 0.875rem !important; margin-right: 1rem; }
.div_count { background: #F23366; border-radius: 20px; width: 20px; height: 20px; color: white; text-align: center; line-height:20px;}
.div_count_black { background: #C3C3C3; border-radius: 20px; width: 20px; height: 20px; color: white; text-align: center; line-height: 20px; }
#div_bottom { z-index: 999999; }
.grob_txt { margin-left: 25px; width: 55%; }
.txt_date { width: 110px; height: 22px; border: 1px solid #5ABEFA; font-size: 18px; background-color: #5ABEFA; color: #fff; }
.date_data { padding-bottom: 12px; }
.mr11 { margin-left: 0.825rem; cursor: pointer; margin-right: 0.2rem; }
.report_txtarea { width: 100%; min-height: 32rem; resize: none; background: none; border: none; font-size:16px; color:#323232; }
.task_txtarea { width: 100%; min-height: 18rem; resize: none; background: none; border: none; font-size: 0.875rem; }
.event-cnt { margin-top: 15px; }
.c_num { width: 2rem; margin-left: 2rem; }
.c_phone { width: 2rem; margin-left: 2rem; }
.c_sex { width: 2rem; margin-left: 2rem; }
.td { text-align: center; }
.date_txt { width: 95px; height: 16px; border: 1px solid #DEDEDE; border-radius: 5px; text-indent: 4px; background: #fff url('/images/plan.png') no-repeat right; }
.select_do { width: 80px; height: 18px; border: 1px solid #DEDEDE; border-radius: 5px; text-align: center; padding-left: 10px; background: #fff url('/images/sort.png') no-repeat right; }
.lq_btn { width: 45px; height: 20px; text-indent: 20px; border-radius: 5px; /**border: 1px solid #DEDEDE;*/ background: url('/images/lingqu.png') no-repeat left center; margin-left: 20px; background-size: 18px 18px; color:#737373 }
.btn_return { width: 49px; color: #313031; height: 18px; text-indent: 9px; background: #fff url('/images/back1.png') no-repeat left; font-size: 16px; }
.add_task_txtarea { width: 100%; min-height: 18rem; resize: none; background: none; border: none; font-size: 16px; color:#323232;}
.add_xiezuo_txtarea { width: 100%; min-height: 26rem; resize: none; background: none; border: none; font-size: 16px; color:#323232; }
.mt20_1 { padding-top: 10px; }
.img_logo { margin-right: 8px; }
.border_title { font-size: 1.2rem; }
.dpi{display: inline-block;}
input::-webkit-input-placeholder {color: #323232;}

.view_question {
    width:80px; font-size:15px;display:block;
}

.standard { width: 80%; margin: 3rem auto; }
.standard .t { width: 5rem; display: inline-block; }
.standard .xs { margin: 0 3rem; }
.standard .color .c { width: 9rem; height: 9rem; margin-right: 1.25rem; }
.standard .color .c1 { background: #5abefa; }
.standard .color .c2 { background: #f13265; }
.standard .color .c3 { background: #14be15; }
.standard .color .c4 { background: #fffa00; }
.standard .color .c5 { background: #fafafa; }
.standard-list { margin-left: 1.6rem; border-left: 1px solid #e9e9e9; padding: 0rem 0 1rem; }
.standard-list .list { margin-bottom: 1rem; position: relative; }
.standard-list .list .num { width: 1.2rem; height: 1.1rem; border-radius: 0.6rem; color: #fff; text-align: center; font-size: 0.75rem; background: #f23366; position: absolute; left: -1.5rem; top: 0.4rem; padding-top: 0.1rem; }
.standard-list .title { margin-left: -1rem; }
.standard-list .title .i { width: 2rem; }
.standard-list .title .plan { padding: 0.5rem 1rem; background: #fff; border-radius: 5px; border: 1px solid #dedede; box-shadow: 0 5px 5px #dedede; }
.standard-list .content { margin: 0rem 1rem 1rem; border: 1px solid #dedede; box-sizing: border-box; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#eee)); padding-right: 0.625rem; box-sizing: border-box; overflow: hidden; }
.standard-list .content_on { margin: 0rem 1rem 1rem; border: 1px solid #dedede; box-sizing: border-box; border-radius: 5px; background-color: #C6E8F4; padding-right: 0.625rem; box-sizing: border-box; overflow: hidden; }
.standard-list .content.on { background: #c6e8f4; }
.standard-list .content_on.on { background: #c6e8f4; }
.standard-list .content .msg { box-sizing: border-box; height: 2.5rem; cursor: pointer; }
.standard-list .content_on .msg { box-sizing: border-box; height: 2.5rem; cursor: pointer; }
.standard-list .content .msg_title { height: 2.5rem; line-height: 2.5rem; text-indent: 1rem; border-bottom: 1px solid #f0f0f0; font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; box-sizing: border-box; }
.standard-list .content_on .msg_title { height: 2.5rem; line-height: 2.5rem; text-indent: 1rem; font-size: 1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; box-sizing: border-box; }
.standard-list .content .msg .flag { width: 0.8rem; margin-left: 1rem; }
.standard-list .content_on .msg .flag { width: 0.8rem; margin-left: 1rem; }
.standard-list .content .msg .n { margin-left: 0.5rem; margin-right: 1rem; }
.standard-list .content_on .msg .n { margin-left: 0.5rem; margin-right: 1rem; }
.standard-list .content .msg .event { overflow: hidden; margin-right: 0.625rem; text-overflow: ellipsis; white-space: nowrap; }
.standard-list .content_on .msg .event { overflow: hidden; margin-right: 0.625rem; text-overflow: ellipsis; white-space: nowrap; }
.standard-list .content .close { margin-left: 1rem; margin-right: 1rem; width: 0.8rem; }
.standard-list .content_on .close { margin-left: 1rem; margin-right: 1rem; width: 0.8rem; }
.standard-list .content .msg .e-n span { display: inline-block; width: 5rem; text-align: center; }
.standard-list .content_on .msg .e-n span { display: inline-block; width: 5rem; text-align: center; }
.standard-list .content .status { height: 2.2rem; padding-left: 1rem; box-sizing: border-box; font-size: 12px; }
.standard-list .content_on .status { height: 2.2rem; padding-left: 1rem; box-sizing: border-box; font-size: 12px; }
.standard-list .content .status li { width: 33.33%; }
.standard-list .content_on .status li { width: 33.33%; }
.standard-list .content .status li img { width: 0.8rem; }
.standard-list .content_on .status li img { width: 0.8rem; }
.event-manage { margin: 1rem; }
.event-manage .status-img { width: 6rem; }
.event-list li { border: 1px solid #c1c4c9; color: #323232; box-sizing: border-box; margin-bottom: 0.625rem; border-radius: 5px; overflow: hidden; }
.event-list li .n { background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ebecee)); height: 2rem; width: 8rem; text-align: center; line-height: 2rem; border-right: 1px solid #c1c4c9; box-sizing: border-box; }
.event-list li .t { background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f7f8fa)); padding-left: 1rem; position: relative; }
.event-list li .t input[type=text], .event-list li .t select { background: none; display: block; width: 100%; height: 2rem; font-size: 0.875rem; color: #323232; border: none; box-sizing: border-box; }
.event-list li .t select { position: relative; z-index: 99; }
.event-list li .t .ico { position: absolute; right: -1px; top: 0px; height: 2.5rem; }
.event-list li .t .ico img { height: 2.2rem; width: 3rem; }
.event-list li .t .ico_search img { height: 2.2rem; width: 3rem; }
.status-img { margin-left: 3rem; }
.status-img .file-up-btn { display: block; width: 100%; color: #818181; height: 2rem; height: 2rem; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6)); border: 1px solid #d8d8d8; border-radius: 0 0 5px 5px; font-size: 1rem; }
.event-content { border: 1px solid #c1c4c9; border-radius: 5px; box-sizing: border-box; overflow: hidden; margin-top: 20px; }
.event-content .h { color: #fff; font-size: 1.125rem; text-align: center; background: #5abefa; height: 3rem; line-height: 3rem; position:relative;}
.event-content .cnt { padding: 2rem; }
.event-content .cnt p { text-indent: 2em; line-height: 2rem; margin-bottom: 2rem; }
.event-content .cnt .txtarea { width: 100%; min-height: 15rem; resize: none; background: none; border: none; font-size: 16px; color:#323232; }
.evt-mng-list { margin: 0 auto; width: 94%; }
.evt-mng-list .top { color: #5abefa; font-size: 1rem; border-bottom: 1px solid #5abefa; text-indent: 8px; margin-top: 0.625rem; padding-bottom: 0.625rem; }
.evt-mng-number { border-radius: 5px; background: #5abefa; overflow: hidden; margin: 2rem 0 0; }
.evt-mng-number .num { width: 8rem; background: #aeaeae; text-align: center; color: #fff; height: 2.5rem; line-height: 2.5rem; font-size: 1rem; }
.evt-mng-number .num .count, .frame_linear .count { width: 1.5rem; height: 1.5rem; line-height: 1.5rem; border-radius: 1.5rem; color: #fff; text-align: center; font-size: 0.875rem; background: #f23366; display: inline-block; }
.evt-mng-number .btn { width: 50%; color: #fff; text-align: center; height: 2.5rem; line-height: 2.5rem; }
.wid3 .btn { width: 33.33% !important; }
.wid3:last-child .btn { width: 33.34% !important; }
.evt-mng-list .list .lt { height: 3rem; border-bottom: 1px solid #dee2e3; padding: 0 0.5rem 0 1rem; box-sizing: border-box; position: relative; }
.evt-mng-list .list .lt .add-plan { background: #212121; color: #fff; font-size: 1.2rem; width: 6rem; height: 2.5rem; line-height: 2.5rem; text-align: center; border-radius: 5px; position: absolute; top: -1.5rem; left: 6.5rem; }
.evt-mng-list .list .lt .add-plan .sj { width: 1rem; height: 1rem; background: #212121; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; bottom: -0.4rem; left: 2.5rem; }
.evt-mng-list .list .slt { width: 15px; height: 15px; background: url(/images/select1.png) no-repeat; background-size: 80%; }
.evt-mng-list .list .slt.on { background: url(/images/select1_on.png) no-repeat; background-size: 80%; }
.evt-mng-list .list .i { width: 2rem; height:2rem; border-radius: 2rem; overflow: hidden; margin: 0 1rem; }
.evt-mng-list .list .n { width: 12rem; }
.evt-mng-list .list .sex { width: 1rem; }
.evt-mng-list .list .phone { }
.evt-mng-list .letter { margin-left: 2rem; width: 3rem; }
.evt-mng-list .letter li { line-height: 1.49rem; text-align: center; }
ul.letter li { }
.event-mg-create { border: 1px solid #afafaf; border-radius: 5px; padding: 2.5rem 1rem 0 1rem; box-sizing: border-box; position: relative; margin-bottom: 3rem; margin-top: 2rem; }
.event-mg-create .hd { width: 6rem; background: #dadada; border: 1px solid #afafaf; height: 2rem; line-height: 2rem; position: absolute; top: -1.5rem; left: 2rem; text-align: center; font-size: 1rem; }
.user-basic { width: 90%; margin: 1rem auto 0; }
.user-person { background: #5abefa; }
.user-person .camera { margin-top: 2rem; width: 1.5rem; }
.user-person .head { margin: 1.5rem; }
.user-person .head .i img { width: 6rem; height: 6rem; border-radius: 6rem; }
.user-person .head .i { width: 6rem; height: 6rem; border-radius: 6rem; border: 0.5rem solid #1e98e1; }
.user-person .head .ewm { width: 6rem; height: 6rem; border: 0.5rem solid #1e98e1; margin:0 auto;}
.user-person .head .n { color: #fff; text-align: center; font-size: 1.2rem; margin-top: 0.5rem; }
.user-person .ga { background: #1c3752; padding: 3rem 2rem; color: #fff; font-weight: bold; font-size: 1.25rem; }
.user-person .ga-heart { background: #1c3752; padding: 1rem 1.5rem; color: #fff; font-size: 1rem; }
.user-person .user-list-ico li { width: 25%; text-align: center; color: #fff; font-size: 1.25rem; }
.user-person .user-list-msg li { color: #fff; font-size: 1rem; }
.user-person .user-list-msg { width: 100%; }
.user-person .user-list-msg li { line-height: 2rem; }
.user-person .user-list-msg li span.n { width: 40%; display: inline-block; text-align: right; }
.user-message { border: 1px solid #dcdcdc; background: #ededed; min-height: 400px; }
.user-model { margin-bottom: 3rem; }
.user-model .more { background: #f2f0f1; color: #323232; padding: 0.3rem 0.7rem; border-radius: 5px; font-size: 0.875rem; }
.user-basic .list li { margin-top: 1.25rem; border-radius: 5px; overflow: hidden;  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#eee));}
.goutong-input li { border: none !important; margin-bottom: 1rem !important; }
.goutong-input li .n { background: none !important; border-right: none !important; }
.goutong-input li .t { border: 1px solid #c1c4c9; border-radius: 5px; }
.goutong-list { margin-left: 6rem; border-bottom: 1px solid #c9c9c9; margin-right: 2rem; padding-left: 2rem; box-sizing: border-box; padding-bottom: 1rem; margin-bottom: 2rem; }
.goutong-list:last-child { border: none !important; }
.goutong-list .hd { margin-left: -2rem; font-size: 1.25rem; }
.goutong-list .g-list li { margin-bottom: 1rem; }
.goutong-list .g-list li .slt { width: 15px; height: 15px; background: url(/images/select1.png) no-repeat; display: inline-block; background-size: 80%; }
.goutong-list .g-list li.on .slt { background: url(/images/select1_on.png) no-repeat; background-size: 80%; }
.gt-goutong-list { border-bottom: 1px solid #c9c9c9; box-sizing: border-box; padding-bottom: 1rem; margin-bottom: 2rem; }
.gt-goutong-list:last-child { border: none !important; }
.gt-goutong-list .hd { font-size: 1rem; }
.gt-goutong-list .g-list li.person span { font-size: 0.875rem; }
.gt-goutong-list .g-list { margin-left: 2rem; }
.gt-goutong-list .g-list li { margin-bottom: 0.5rem; }
.gt-goutong-list .g-list li .slt { width: 15px; height: 15px; background: url(/images/select1.png) no-repeat left center; display: inline-block; background-size: 80%; margin-right: 1rem; }
.gt-goutong-list .g-list li.on .slt { background: url(/images/select1_on.png) no-repeat; background-size: 80%; }
.gt-search { border: 1px solid #929292; background: #f7f7f7; border-radius: 5px; box-sizing: border-box; }
.gt-search .txt { height: 2.5rem; background: none; width: 10rem; font-size: 1rem; }
.gt-reply li { border: 1px solid #dedede; box-shadow: 0 3px 3px #dedede; overflow: hidden; border-radius: 5px; margin-bottom: 1.5rem; }
.gt-reply .ly, .gt-replay-first .ly { padding: 2rem 1rem; background: #f9f9f9; box-sizing: border-box; text-indent: 2em; line-height: 1.8rem; }
.gt-reply .layer, .gt-replay-first .layer { padding: 1rem 2rem; box-sizing: border-box; background: #f2f2f2; }
.gt-reply .layer img { width: 0.8rem; }
.gt-replay-first { border: 1px solid #8a8d9c; box-shadow: 0 3px 3px #dedede; overflow: hidden; border-radius: 5px; margin-bottom: 1.5rem; }
.gt-replay-first .ly { background: #f3fbfd; }
.gt-replay-first .h { background: #c6e8f4; height: 3rem; padding: 0 1rem; box-sizing: border-box; font-size: 1.25rem; }
.gt-letter { background: #dbdbdb; width: 4rem; text-align: center; border-right: 1px solid #c9c9c9; height:100%; padding-top:5px; box-sizing:border-box;}
.gt-replay-first .layer .l { width: 25%; text-align: center; }
.gt-replay-first .layer .l img { width: 0.8rem; }
.gt-name .i { width: 6rem; height: 6rem; border-radius: 6rem; border: 0.5rem solid #1e98e1; margin: 1rem 3rem 1rem 3rem; }
.gt-name .i img { width: 6rem; height: 6rem; border-radius: 6rem; }
.gt-message .frame { height: 3rem; background: #f3f3f3; padding: 0 2rem; box-sizing: border-box; }
.gt-message .f { height: 2rem; margin-left: 2rem; line-height: 2rem; }
.gt-special-list { margin: 1rem; }
.gt-special-list li { background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6)); border: 1px solid #dedede; border-radius: 5px; margin-bottom: 2rem; }
.gt-special-list li.on, .gt-special-list .rp-lt.on, .gt-special-list .rp-lt_on.on { background: #c6e8f4; }
.gt-special-list li .msg, .gt-special-list .rp-lt .msg, .gt-special-list .rp-lt_on .msg { height: 4rem; padding: 0 10px; box-sizing: border-box; }
.gt-special-list .rp-lt .msg .i_close { width: 0.8rem; }
.gt-special-list .rp-lt_on .msg .i_close { width: 0.8rem; }
.gt-special-list li .list-btn, .gt-special-list .rp-lt .list-btn, .gt-special-list .rp-lt_on .list-btn { height: 3rem; }
.gt-special-list li .list-btn .l, .gt-special-list .rp-lt .list-btn .l, .gt-special-list .rp-lt_on .list-btn .l { margin-right: 2rem; text-align: center; }
.gt-special-list .rp-lt .list-btn .l img { width: 0.8rem; }
.gt-special-list .rp-lt_on .list-btn .l img { width: 0.8rem; }
.gt-special-list .rp-lt { background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#eee)); border: 1px solid #dedede; border-radius: 5px; margin-top: 20px; }
.gt-special-list .rp-lt_on { background-color: #C6E8F4; border: 1px solid #dedede; border-radius: 5px; margin-top: 20px; }
.fuwu-person-msg { background: #a0a0a0; padding: 0.625rem 0; box-sizing: border-box; color: #fff; font-size: 0.875rem; padding-left:22%;}
.fuwu-person-msg li { width: 40%; float: left; line-height: 1.8rem; white-space: nowrap; overflow:hidden;}
.fuwu-person-msg li span { display: inline-block; }
.fuwu-person-list { width: 90%; margin: 0.625rem auto 0; }
.fuwu-person-list li { width: 32.3%; margin-left: 1%; margin-bottom: 1%; background: #a0a0a0; float: left; font-size: 1rem; }
.fuwu-person-list li a { padding: 1.5rem 0 0.5rem; }
.fuwu-person-list li.on { background: #5abefa; }
.fuwu-person-list li .i img { height: 4rem; }
.fuwu-person-list li:nth-child(3n+1) { margin-left: 0; }
.wid-content { width: 94%; margin: 0 auto; }
.fuwu-message-list li { height: 3rem; line-height: 3rem; border-bottom: 1px solid #e6e6e6; background: url(/images/back.png) 98% center no-repeat; background-size: 7px 13px; }
.fuwu-message-list .dt { margin-right: 3rem; }
.fuwu-message-list .n { width: 20%; text-align: right; }
.fuwu-message-list .bl { margin-left: 10%; width: 10%; }
.fuwu-message-list .pro-bar { margin-left: 10%; }
.fuwu-message-list .pro-bar .s { width: 20%; text-align: center; display: inline-block; }
.fuwu-message-list .pro-bar .prograss { width: 50%; display: inline-block; }
.fuwu-message-list .pro-bar .prograss .red-bar { display: inline-block; height: 12px; background: #f13265; }
.fuwu-message-list .pro-bar .prograss .green-bar { display: inline-block; height: 12px; background: #14be15; }
.status-title .n { width: 20%; text-align: right; margin-right: 10%; }
.status-title { border-bottom: 1px solid #e6e6e6; height: 3rem; }
.kanfu-picture { width: 25rem; height: 25rem; margin: 6rem auto 0; border-radius: 25rem; border: 1px solid #a4a4a4; position: relative; }
.kanfu-picture .kf-i { width: 7rem; height: 7rem; border-radius: 7rem; overflow: hidden; display: inline-block; }
.kanfu-picture .circle { width: 6rem; height: 6rem; color: #32312f; font-size: 1rem; border-radius: 6rem; position: absolute; }
.kanfu-picture .circle.c1 { top: -3rem; left: 9.5rem; }
.kanfu-picture .circle.c2 { top: 5rem; right: -2rem; }
.kanfu-picture .circle.c3 { top: 18rem; right: 1rem; }
.kanfu-picture .circle.c4 { top: 18rem; left: 1rem; }
.kanfu-picture .circle.c5 { top: 5rem; left: -2rem; }
.circle-message { border: 1px dashed #d2d2d2; position: absolute; padding: 0.625rem; line-height: 1.25rem; color: #222222; background: #f3f3f3; white-space: nowrap; display: none; }
.circle-message.cm1 { top: 1.2rem; left: 6.5rem; }
.circle-message.cm2 { top: -4.5rem; left: -2.5rem; }
.circle-message.cm3 { top: 1.2rem; left: -11.2rem; }
.save-btn { width: 9rem; height: 3rem; line-height: 3rem; color: #5c5c5c; font-size: 1.125rem; background: url(/images/save_btn.png) no-repeat 1rem center #e6e6e6; text-indent: 3.5rem; box-shadow: 0 2px 2px #dadada; }
.save-btn.on { background: url(/images/save_btn_on.png) no-repeat 1rem center #5abefa; }
.treatment-content { border: 1px solid #000; min-height: 20rem; border-radius: 5px; }
.gt-chat li { width: 94%; margin-bottom: 2rem; }
.gt-chat li.others { float: left; }
.gt-chat li.others .i { width: 4rem; height: 4rem; border-radius: 4rem; overflow: hidden; }
.gt-chat li.others .f { padding: 1rem; line-height: 1.5rem; background: #e7ecf0; color: #62737b; font-size: 1.125rem; margin-left: 1.5rem; position: relative; border-radius: 5px; }
.gt-chat li.others .f .ico { width: 1rem; height: 1rem; transform: rotate(45deg); left: -0.5rem; top: 1.5rem; position: absolute; background: #e7ecf0; }
.gt-chat li.mine { float: right; }
.gt-chat li.mine .i { width: 4rem; height: 4rem; border-radius: 4rem; overflow: hidden; }
.gt-chat li.mine .f { padding: 1rem; line-height: 1.5rem; background: #c6e8f4; color: #62737b; font-size: 1.125rem; margin-right: 1.5rem; position: relative; border-radius: 5px; }
.gt-chat li.mine .f .ico { width: 1rem; height: 1rem; transform: rotate(45deg); right: -0.5rem; top: 1.5rem; position: absolute; background: #c6e8f4; }
.equipment-file li { padding: 1rem 0; box-sizing: border-box; border-bottom: 1px solid #e6e6e6; }
.equipment-file-table td, .equipment-file-table th { padding: 1rem 0; text-align: center; }
.equipment-file-table td { border-bottom: 1px solid #e6e6e6; }
.equipment-file-table .slt { width: 15px; height: 15px; background: url(/images/select1.png) no-repeat; display: inline-block; background-size: 80%; }
.equipment-file-table .slt.on { background: url(/images/select1_on.png) no-repeat; background-size: 80%; }
.replay-input .txt { display: block; min-height: 20px; border: 1px solid #dedede; border-radius: 5px; line-height:20px; padding:6px; background:#fff;}
.replay-input .btn { width: 4rem; height: 2rem; border-radius: 5px; background: #ddd; color: #323232; font-size: 14px; margin-right:10px; }
.login_footer { position:absolute; bottom:0; left:0; width:100%;}
.login_footer .i { width: 8rem; }
.footer { background: #f0f0f0; padding: 0.5rem 0; border-top: 1px solid #ccc; position: relative; z-index: 9999; }
.footer li { float: left; width: 50%; text-align: center; color: #3c3c3c; }
.footer li span { display: inline-block; margin-bottom: 3px; height: 30px; }
.footer li .fw { background: url(/images/service.png) no-repeat center; background-size: 70%; width: 44px; }
.footer li .gt { background: url(/images/communicate.png) no-repeat center; background-size: 70%; width: 54px; }
.footer li .bg { background: url(/images/report.png) no-repeat center; background-size: 70%; width: 43px; }
.footer li .wd { background: url(/images/my.png) no-repeat center; background-size: 70%; width: 36px; }
.footer li.on { color: #58bffa; }
.footer li.on .fw { background: url(/images/service_on.png) no-repeat center; background-size: 70%; }
.footer li.on .gt { background: url(/images/communicate_on.png) no-repeat center; background-size: 70%; }
.footer li.on .bg { background: url(/images/report_on.png) no-repeat center; background-size: 70%; }
.footer li.on .wd { background: url(/images/my_on.png) no-repeat center; background-size: 70%; }
.frame_grey { border: 1px solid #dedede; padding: 1rem; box-sizing: border-box; font-size: 0.75rem; border-radius:5px; }
.frame_grey_1 { border: 1px solid #dedede; padding: 1rem; box-sizing: border-box; font-size: 0.75rem; margin-top:-7px; padding-bottom:5px; border-radius:5px; }
.frame_grey .slt { width: 15px; height: 15px; background: url(/images/select1.png) no-repeat; background-size: 80%; }
.frame_grey .slt.on { background: url(/images/select1_on.png) no-repeat; background-size: 80%; }
.frame_linear { border: 1px solid #dedede; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6)); padding: 1rem; box-sizing: border-box; border-radius: 5px; }
.user-basic .list li.on .frame_linear { background: #c6e8f4; }
.user-basic .list li.on .frame_grey { background: #c6e8f4; }
.textarea { width: 100%; height: 20rem; border: none; resize: none; display: block; padding: 10px; box-sizing: border-box; }
.m1rem { margin: 1rem; box-sizing: border-box; }
.wid1-img { width: 0.8rem; }
.swiper-container { overflow: hidden; width: 100%; }
.child-list .on { background: #d15a46; color: #fff; }
.box-vm_top { border-bottom: none; }
.box-vm_bottom { border-top: 0px; padding: 3px 1rem 10px 1rem; }
.ul_li { margin-top: -1px; overflow: hidden; margin-right: 4rem; }
/* 个人的配置 */

header{
    width: 100%;
    background: rgb(246, 246, 246);
    border-bottom: 1px solid #BFBFBF;
}

.header{
    text-align: center;
    background: #f2f0f1;
    border-bottom: 1px solid #e6e6e6;
    height: 3rem;
    padding: 0 1rem;
    box-sizing: border-box;
}
.header h2{
    padding-top: 1%;
}

.header .w {
    width: 4rem;
}
.header .ww{
	width: 5rem;
}
/* 登陆的 */
.loginmain{
	width: 100%;
	margin-top: 20%;
	text-align: center;
	font-family:  "微软雅黑", "Microsoft Yahei", Tahoma, Geneva, sans-serif;

}
h3.title_chafan{
     color:#5b9bd5;
}
.login_from{
	width: 80%;
    margin: auto;
}
.login_submit{
	margin-top: 10%;
    font-family:  "微软雅黑", "Microsoft Yahei", Tahoma, Geneva, sans-serif;
}
.login_button{
	display: block;
	width: 80%;
    margin: auto;
    margin-top: 3%;

}


/* 这里是动画配置 */

.option {
  -webkit-animation-duration: 0s;
  -webkit-animation-delay: 0s;
} 




/* 添加病人的.addperson.html */

.bar .title {
    font-size: 1.5em;
}
.button_addperson{
	width: 100%;
	min-height: 35px;
	line-height: 33px;
}
.card_addperson{
	margin-top: 13%;
}
.takephoto_text {
    margin-left: -3%;
    text-align: center;
}
.takephoto{
	text-align: center;
}
.takephoto img{
	width: 100px;
    height: 100px;
    margin-left: -3%;
    text-align: center;
}
.row_addperson{
	margin-top: 5% !important;
	/*height: 25%;*/
}
.crcord img{
	width: 120px;
    height: 120px;
}
.list_addperson{
	padding-left: 5%;
}
.input-label_addperson {
    display: table;
    padding: 7px 4px 7px 0px;
    max-width: 200px;
    color: #444;
    font-size: 1em;
}
.item_addperson{
	border-style: none;
	border-width: 0px;
}
.item_addperson select{
	order-right: #000000 0px solid;
    border-top: #ffffff 0px solid;
    border-left: #ffffff 0px solid;
    border-bottom: #A8A8A8 0px solid;
    background-color: #F6F6F6;
}
.item_addperson_last{
    margin:auto;
    width: 80%;
	text-align: center;
}


/* 快速检查的  check.html*/

.col_check{
	text-align: center;
}
.button_check{
	width: 15%;
}
.button_check_center{
    margin-left: 5%;
    margin-right: 5%;
}
       /* 表格1样式 */
.table_check-one{
	width: 80%;
	margin-left: 10%;
	margin-top: 15%;
}
.td_check-one{
	width: 50%;
	overflow: hidden;
}
.td_check-one img{
	width: 95%;
	text-align: center;
}
.td_check-one p{
	text-align: center;
	margin: 0 0 0px;

}
hr{
	width: 80%;
	text-align: center;
	margin-top: 5%;
}
      /* 表格2的样式 */
.table_check-two{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.td_check-two{
	width: 25%;
	overflow: hidden;
}
.td_check-two img{
	width: 90%;
	text-align: center;
}
.td_check-two p{
	text-align: center;
	margin: 0 0 0px;	
}
      /* 表格三的样式 */
.table_check-three{
	width: 90%;
    margin-left: 10%;
    margin-top: 5%;
}
.td_check-three{
	width: 22%;
	overflow: hidden;
}
.td_check-three img{
	width: 90%;
	text-align: center;
}
.td_check-three p{
	text-align: center;
	margin: 0 0 0px;	
}
/* 检查设置的 */
 .n{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ebecee));
    height: 2rem;
    width: 15rem;
    text-align: center;
    line-height: 2rem;
    border-right: 1px solid #c1c4c9;
    box-sizing: border-box;

}
.card_checkset li{
	border: 1px solid #c1c4c9;
    color: #323232;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    border-radius: 5px;
    overflow: hidden;
}
.box-vm input{
	background: none;
    display: inline-block;
    width: 100%;
    height: 2rem;
    font-size: 0.875rem;
    color: #323232;
    border: none;
    box-sizing: border-box;

}
.button_checkset{
	width: 15%;
	left: 5px;
}
.btn_checkset{
	width: 15%;
}
.card_checkset{
	padding-top: 25%;
	padding-left: 10%;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	width: 80%;
}
.card_checkset table{
	width: 100%;
}
.card_checkset tr{
	width: 100%;
	margin-top: 3%;
}
.item_checkset{
	background-color: #387EF5;
	color: #fff !important;
	margin-bottom: 5%;
	padding: 3%;
}
.item_checkset i{
	/* font-size: 20px; */
}
.ready_show{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #555;
    text-align: center;
    line-height: 100px;
    /* background: rgba(145,145,145,0.6); */
    font-size: 2em;
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-50px 0px 0px -50px;
    z-index: 99;
   
}
.ready_show  p {
    text-align: center;
    margin-bottom: 40px !important;
}
.spinner svg {
      width: 100% !important;
      height: 100% !important;
}

       /* checkset_1 */
.btn_checkset_1{
	width: 100%;
	min-height: 50px%;
	line-height: 50px%;
	margin-top: 3%;
}
.row_checkset_1{
	width: 90%;
	padding-left: 10%;
	text-align: center;
}
.btn_checkset_1-two{
    width: 100%;
	min-height: 40px;
	line-height: 35px;
}

.item-divider_check {
    padding-top: 4px;
    padding-bottom: 8px;
    min-height: 17px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
}
.checkset_text{}
.checkset_text table{
	text-align: left;
	margin-top: 5%;
}
.checkset_text tr{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.checkset_text td{
	padding-bottom: 10px;
}
.checkset_text input{
	display: inline-block;
	width: 13%;
}

/* 系统设置的 */
.card_setting{
	padding-top: 25%;
	text-align: center;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);	
	width: 80%;
    margin-left: 10%;
}
.item_setting{
	background-color: #387EF5;
	color: #fff !important;
	margin-bottom: 5%;
	padding: 10px;	

}
.item-input_setting{
	margin-bottom: 5%;
	
}
.item-input_setting input{

	text-align: center;
}


     /*  检查报告 */ 
.single{
	display: none;
}
.allReport{
	display: none;
}


  .card_checkreport{
    margin-top: 15%;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	margin-left: 10%;
}
.form_checkreport{
	padding-left: 10%;
}

.form_checkreport label{
	margin-bottom: 10%;
	font-size: 25px;
}
.col_checkreport-1{
	background-color: #5b9bd5;
}
.card_checkreport table{
	width: 100%;
	border: 1px solid #fff;
	text-align: center;
}
.card_checkreport tr{
	width: 100%;

}

.td-1{
	width: 20%;
	border: 1px solid rgba(255, 255, 255, 0);
     
}
.td-1 select{
	-webkit-appearance: none;
}
.td-2{
	width: 15%;
	border: 1px solid rgba(255, 255, 255, 0);

}
.td-3{
    width: 35%;
	border: 1px solid rgba(255, 255, 255, 0);

}
.td-3 input{width: 50%;}
.td-4{
    width: 35%;
	border: 1px solid rgba(255, 255, 255, 0);

}
.td-5{
	width: 50%;
	border: 1px solid rgba(255, 255, 255, 0);
}
.tdcolor-1{
	background-color: #5b9bd5;	
}
.tdcolor-2{
	background-color: #788cef;	
}
.tdcolor-3{
	background-color: #c2caf1;	
}
.tdcolor-4{
	background-color: #f7f7f7;
	border: 1px solid #d5d5d5;
	color: #45c663;
}
.tdcolor-5{
	background-color: #f7f7f7;
	border: 1px solid #d5d5d5;
	color: #818181;   
}
.tdcolor-6{
    border: 1px solid #d5d5d5;
}
.row_checkreport{
	width: 90%;
	margin-top: 15%;
	padding-left: 10%;
	text-align: center;
}
.btn_checkreport{
    width: 100%;
	min-height: 40px;
	line-height: 35px;
}
    /* 检查报告-1 */
.card_checkreport_1{
    margin-top: 15%;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	margin-left: 10%;
}
.form_checkreport_1{
	padding-left: 10%;
}
.card_checkreport_1 table{
	width: 100%;
	border: 1px solid #fff;
	text-align: left;
    margin-top: 5%;
}
.card_checkreport_1 tr{
	width: 100%;

}
.card_checkreport_1 h3{
	text-align: center;
}
.card_checkreport_1 img{
width: 200%;
height: 100px;
}
.footer-checkreport_1{
	position: absolute;
	bottom: 5%;
}

   /* 配置底部按钮的样式 */
.bar-footer{
	height: 8%;
}

.bar-footer table {
	width: 100%;
}
.bar-footer tr{
	width: 100%;
}

.footer_td5{
	width: 50%;
	text-align: center;
}
.btn_footer{
	width: 90%;
}


 .bar .button, .bar button{
	
	font-size: 2.5vw;
}
.footer_td5 .button, .footer_td3 button{
	 line-height: 50px !important; 
}
 .bar.bar-light {
 
    height:6%;
 }







/* 这里是动画的 */
.ng-enter{
	transition: 0.75s;
	opacity: 0;
}
.ng-enter-stagger{
	transition-delay: 0.1s;
}
.ng-leave{
	transition: 0.75s;
}
.ng-enter-active{
	opacity: 1;
}
.ng-leave-active{
	opacity:0;
}

.standard-list .ng-leave{
	transition: 0s;
}


/*日历的*/
 .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }