<style>
  .modal-backdrop-bg {
    opacity: 0 !important;
  }
  #modal_show_index .scroll {
    height: 100%;
  }
</style>
<div id="modal_show_index" class="modal">
  <ion-content overflow-scroll="false">
    <div class="indexMonitor" >
      <p><span class="title calm">{{inforText}}</span></p>
      <p><b style="background-image:url(img/devices/device_co2.png)"></b></p>
      <p><span class="close_btn button button-outline button-calm" ng-click = "closeModal()" ng-disabled = "exitBoole" >{{exitText}}</span></p>
    </div>
  </ion-content>
</div>
