    <link rel="stylesheet" href="css/indexstyle.css">

	 <div class="header box-vm">
	  <div class="w" ng-click="back()">
	    <img src="img/back1.png" class="vm">
	    <span class="vm ml10">返回</span>
	  </div>
	  <!-- <div class="vm ml50" ng-click="editor()">编辑</div> -->
	  <div class="flex td fb fs20"><!-- 移除属性 pr12p -->
	    {{people.name}}
	  </div>

	  <div class="ww tr fontt" ng-click="toSetting()" ng-init="setting='保存'">
	    {{setting}}
	  </div>
	</div>
<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%" class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
	<div class="card_addperson">
		<div class="row row_addperson">
		  <div class="col " ng-show="isQrcord">
		   	<div ng-click="takephoto()"  class="takephoto"><img ng-src="{{people.img}}"  ></div>
		   <div class="takephoto_text"><h4>{{people.bedNumber}}号</h4></div>
		  </div>
		  <div class="col">
		  
		  	<div id="takephoto"  ng-show="!isQrcord" class="crcord tc"></div>
		  	<div class="showQrcord takephoto tc mt5"  ng-click="turnQrcord()"><button class="qr_color button button-positive">{{isQrcord_text}}</button></div><!-- 新增样式 -->
		  </div>
		</div>
		<div class="list list_addperson new_add" ><!-- 新增样式 -->
		  <label class="item item-input item_addperson"  ng-click="insert(yiy,trte)" >
		    <span class="input-label_addperson">编号:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="text" ng-disabled="true" ng-model="people.number" >
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson">姓名:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="text" ng-disabled="isDisabled" ng-model="people.name">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson">性别:</span>
		    <select ng-disabled="isDisabled" ng-model="people.sex">
	                <option value="男">&nbsp&nbsp男&nbsp&nbsp</option>
	                <option value="女">&nbsp&nbsp女&nbsp&nbsp</option>
			</select>
		  </label>
		  <label class="item item-input item_addperson" >
			<span class="input-label_addperson">身高（厘米）:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="number" ng-disabled="isDisabled" ng-model="people.height" >
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">年龄:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="number" ng-disabled="isDisabled" ng-model="people.age">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">体重（公斤）:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="number" ng-disabled="isDisabled" ng-model="people.weight">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">状态:</span>
		       <select ng-disabled="isDisabled" ng-change="creatDate(people.beInHospital)" ng-model="people.beInHospital">
	                <option value="true">住院中</option>
	                <option value="outpatient">门诊</option>
	                <option value="false">已出院</option>
				</select>
		  </label> 
		  <label class="item item-input item_addperson">
		    <span class="input-label_addperson ">住院号/门诊号:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="number" ng-disabled="isDisabled" ng-model="people.address">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">病区:</span>
		    <input ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" type="text" ng-disabled="isDisabled" ng-model="people.area">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">床号:</span>
		    <input type="number" ng-disabled="isDisabled" ng-model="people.bedNumber">
		  </label>
		  <label class="item item-input item_addperson" >
		    <span class="input-label_addperson ">开始日期:</span>
		    <input type="date" placeholder=" yyyy-MM-dd" ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]"  ng-disabled="isDisabled" ng-model="people.beginDate" ng-change="updateTime()" >
		  </label>
		  <label class="item item-input item_addperson  " >
		    <span class="input-label_addperson ">最后编辑日期:</span>
		    <input type="date" placeholder=" yyyy-MM-dd" ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" ng-disabled="true"  ng-model="people.editDate" ng-change="updateTime()">
		  </label>
		  <label class="item item-input item_addperson  ">
		  <span class="input-label_addperson ">结束日期:</span>
		    <input type="date" placeholder=" yyyy-MM-dd" ng-class="{true: 'b-deepGrey', false: 'b-white'}[isDisabled]" ng-disabled="true" ng-model="people.endDate" ng-change="updateTime()">
		  </label>
		</div>
	</div>
	<div  class="pb500px h150px"></div>
  </div>
</ion-scroll>