
		<div class="header box-vm ">
		  <div class="w" ng-click="back()">
	        <img src="img/back1.png" class="vm">
	        <span class="vm ml10">返回</span>
	      </div>
           <div class="flex td fb fs20">
              {{people.name}}
           </div>
			 <div class="w" >
             <span class="vm mr10">打印</span>
           </div>
		</div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
	<div class="pt10 ml5 tc">
		<div class="tc mt50 fs30 fb">
			{{systemSet.h_name}}医院{{systemSet.ad_name}}{{systemSet.address}}区
		</div>
		<div class="tc mt50 fs25 fb">
			{{reportName}}
		</div>
	</div>
	<div class="pt10 ml5 tc">
		
	</div>
 
 </div> 
</ion-scroll>

 <div class="list card card_checkreport_1">
<!-- 	   		<

	<table>
		<tr>
			<td class="td-3">
				科室：{{people.department}}
			</td>
			<td class="td-3">
				病区：{{people.area}}
			</td>
			<td class="td-3">
				床号:{{people.bedNumber}}
			</td>
		</tr>
		<tr>
		   <td>
		      住院号/门诊号:{{people.number}}
		   </td>
		</tr>
		<tr>
			<td class="td-3">
			     姓名：{{people.name}}
			</td>
			<td class="td-3">
				性别：{{people.sex}}
			</td>
			<td class="td-3">
				年龄:{{people.age}}
			</td>
		</tr>
		<tr>
		   <td>检查日期:</td>
		</tr>
		<tr>
		   <td>检查结果:</td>
		</tr>

	</table>
	<table>
		<tr>
			<td class=" td-5 tdcolor-1">Etco2</td>
			<td class=" td-5 tdcolor-1">检查时间</td>
		</tr>
		<tr>
			<td class="td-3 tdcolor-4">110</td>
			<td class="td-3 tdcolor-5">cscscssccsss</td>
		</tr>
		<tr>
			<td class="td-3 tdcolor-4">110</td>
			<td class="td-3 tdcolor-5">cscscssccsss</td>
		</tr>
		<tr>
			<td class="td-3 tdcolor-4">110</td>
			<td class="td-3 tdcolor-5">cscscssccsss</td>
		</tr>
		<tr>
			<td>反应曲线图</td>
		</tr>
		<tr>
			<td>
				<img src="img/spo.png" alt="">
			</td>
		</tr>

	</table>

 </div>
 <div class=" card_checkreport_1 ">
	  <table >
		<tr>
			<td class="td-5">检查人员</td>
			<td class="td-5">日期</td>
		</tr>
	  </table>
 </div> -->