<style>
    .ng-enter{
  transition: 0s;
  opacity: 0;
}
.ng-enter-stagger{
  transition-delay: 0s;
}
.ng-leave{
  transition: 0s;
}
.ng-enter-active{
  opacity: 1;
}
.ng-leave-active{
  opacity:0;
}
</style>
		<div class="header box-vm ">
		  <div class="w" ng-click="back()">
	        <img src="img/back1.png" class="vm">
	        <span class="vm ml10">返回</span>
	      </div>
           <div class="flex td fb fs20">
              {{people.name}}
           </div>
			 <div class="w" ng-click="next()" >
             <span class="vm mr10">下一步</span>
           </div>
		</div>

<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
	<div class="pt10 ml5">
		<div class="mt60 ml50">
		   <div class=" fs30 fb c-blue">打印设置</div>	

		   <form action="" class="mt5 ml5">
  			 <div class="mt50 pt10 ml20 item " id="{{key}}" ng-click="choose(val)" ng-repeat = "(key,val) in selectValue track by $index">
  				<label ><i  class="ion-ios-circle-outline "></i><input type="radio" name="group" ng-model = "report" ng-value = "val" > {{key}}</label>
  			 </div>
          <div class="mt50 pt10 ml20 dpn" id="dateSelect">
            <div>
              <label for="" class="item item-input">
                <span>开始日期</span>
                <input class="dpib" type="date" ng-model ="dt1">
              </label>
              <label for="" class="item item-input">
                <span>开始具体时间</span>
                <input class="dpib" ng-model ="dt1" type="time">
              </label>
            </div>
            <div class="mt5">
              <label for=""  class="item item-input" >
                <span>结束日期</span>
                <input class="dpib" type="date" ng-value="dt2"  ng-model="dt2 | date:'yyyy-MM-dd'" ng-change="checkTime()">
              </label>
              <label for=""  class="item item-input">
                <span>结束具体时间</span>
                <input class="dpib" type="time" ng-model = "dt2">
              </label>
            </div>
            <div>
              <input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="dt2">
            </div>
            
          </div>
		   </form>
            
		</div>

	</div>
 </div> 
</ion-scroll>
<div class="bar bar-footer">
	<ul class="box-wc footer clearfix ">
		<li class = "box-c fs20 pt2" ng-click="back()">
		   取消
		</li>
		<li class="box-c fs20 pt2" ng-click="next()">
			确定
		</li>
	</ul>
</div>

 