	<div class="bar bar-header bar-light">
	  <h1 class="title">{{people.name}}</h1>
	  <button class="button button-positive button_checkset" ng-click="back()">返回</button>
	</div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

	<div class="list card card_checkset animated bounceInRight">

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    血氧检测报告 
	  </a>

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    二氧化碳检测报告   
	  </a>

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    肺功能检测报告
	  </a>

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    体重检测报告
	  </a>
	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    血压监测报告
	  </a>

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    血糖检测报告
	  </a>

	  <a ng-click="toCheckReport()" class="item  item-icon-right item_checkset">
	    <i class="icon ion-chevron-right"></i>
	    综合报告     
	  </a>


	</div>
 </div> 
</ion-scroll>