
		<div class="header box-vm ">
		  <div class="w" ng-click="back()">
	        <img src="img/back1.png" class="vm">
	        <span class="vm ml10"><a>返回</a></span>
	      </div>
           <div class="flex td fb fs20">
              {{people.name}}
           </div>
			 <div class="w" >
             <span class="vm mr10">&nbsp&nbsp</span>
           </div>
		</div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

	<div class="list  pt10 ml5 gt-special-list"> 
      <div class="rp-lt" ng-repeat="setting in settingList track by $index">
		<a><div class="box-vm msg " >
			<div class="fs20 ml20 flex td" ng-click="tosetting($index + 1)">{{setting}} </div>
			<i class="icon ion-chevron-right"></i>
		</div></a>
      </div>
      <div class="rp-lt">
		<a><div class="box-vm msg ">
			<div class="fs20 ml20 flex td" ng-click="post()">同步到服务器 </div>
			<i class="icon ion-loop"></i>
		</div></a>
      </div>

 
	</div>
 </div> 
</ion-scroll>


