		       <!--  头部 -->
	<div class="bar bar-header bar-light">
	  <h1 class="title">肺功能测量设置</h1>
	  <button class="button button-positive btn_checkset" ng-click="back()">返回</button>
    <button class="button button-positive btn_checkset" ng-click="saveSet(2)">保存</button>
	</div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
 <!--  内容 -->
  <div class="list card card_checkset animated bounceInRight ">
  	<a><button class="button  button-positive btn_checkset_1" ng-click="toggle(show_PFT1)">报警设置</button></a>
  	 <!-- 隐藏 -->
  	 <div class="checkset_text" ng-show="show_PFT1.val">
  	  <table>
  	  	<tr>
  	  		<td>FEV1报警阈值：低于<input type="number" ng-model="setting[2]['报警设置']['FEV1报警阈值低于']"></td>
  	  		
  	  	</tr>
  	  </table>
     </div>
  	<a><button class="button  button-positive btn_checkset_1" ng-click="toggle(show_PFT2)">正常参数设置</button></a>
      <!-- 隐藏 -->
      <div class="checkset_text" ng-show="show_PFT2.val">
      	<table>
      		<tr>
      			<td>
      				FEV1%预计值参考正常值<input type="number" ng-model="setting[2]['正常参数设置']['FEV1%预计值参考正常值最低']">————<input type="number" ng-model="setting[2]['正常参数设置']['FEV1%预计值参考正常值最高']">
      			</td>
      		</tr>
      		<tr>
      			<td>
      				FEV1/FEV6参考正常值<input type="number" ng-model="setting[2]['正常参数设置']['FEV1/FEV6参考正常值最低']">————<input type="number" ng-model="setting[2]['正常参数设置']['FEV1/FEV6参考正常值最高']">
      			</td>
      		</tr>
      	</table>
      </div>

  	<a><button class="button  button-positive btn_checkset_1" ng-click="toReset(2)">恢复默认设置</button></a>
  </div>

 
 </div> 
</ion-scroll>