	       <!--  头部 -->
	<div class="bar bar-header bar-light">
	  <button class="button button-positive btn_checkset" ng-click="back()">返回</button>
    <h1 class="title">血氧测量设置</h1>
	  <button class="button button-positive btn_checkset" ng-click="saveSet(0)">保存</button>

	</div>



<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="list card card_checkset animated bounceInRight">
      <div ng-repeat="(key, val) in setting[0] track by $index" >
        <a href=""><button class="button  button-positive btn_checkset_1" ng-click="toggle(show_OS1)">{{key}}</button></a>
           <div clsaa="box-vm" ng-repeat="(key,val) in setting[0][key] ">
              <div class="n dpi">
                  {{key}}
              </div>
              <div class="flex t dpi"><input type="number" ng-model="val"></div>
           </div>
      </div>
      <div>
        <a href=""><button class="button  button-positive btn_checkset_1" ng-click="toReset(0)">恢复默认值</button></a>
      </div>
    </div>

  <div class="list card card_checkset animated bounceInRight">
 
              	
          


  </div>
    


 </div> 
</ion-scroll>

