	<div class="bar bar-header bar-light">
	  <h1 class="title">{{people.name}}</h1>
	  <button class="button button-positive button_checkset" ng-click="back()">返回</button>
	</div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

	<div class="list card card_checkset">

	  <a ng-click="toOne()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    血氧测量设置 
	  </a>

	  <a ng-click="toTwo()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    二氧化碳测量设置    
	  </a>

	  <a ng-click="toThree()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    肺功能测量设置  
	  </a>

	  <a ng-click="toFour()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    体重测量设置  
	  </a>
	  <a ng-click="toFive()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    血压测量设置   
	  </a>

	  <a ng-click="toSix()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class="icon ion-chevron-right"></i>
	    血糖测量设置    
	  </a>

	  <a ng-click="post()" class="item  item-icon-right item_checkset animated  bounceInRight">
	    <i class=" "></i>
	    同步到服务器
	  </a>


	</div>
 </div> 
</ion-scroll>