		       <!--  头部 -->
<!-- 	<div class="bar bar-header bar-light">
	  <h1 class="title">血压测量设置</h1>
	  <button class="button button-positive btn_checkset" ng-click="back()">返回</button>
    <button class="button button-positive btn_checkset" ng-click="saveSet(4)">保存</button>
	</div> -->
    <div class="header box-vm ">
      <div class="w" ng-click="back()">
          <img src="img/back1.png" class="vm">
          <span class="vm ml10">返回</span>
        </div>
           <div class="flex td fb fs20">
              血压测量设置
           </div>
       <div class="w" >
             <span class="vm mr10" ng-click="saveSet(4)" >保存</span>
           </div>
    </div>


<ion-scroll zooming="true" direction="y" style="width:100% ; height: 100%";class="scroll-view ionic-scroll">
 <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="standard-list mt20">
       <div class="list" ng-repeat="(key, val) in setting[4] track by $index" >
          <div class="title box-vm js-event-title" ng-click="toggle(key)">
            <i class="ion-plus-circled"></i>
            <div class="flex ml20 fs18 c-black">{{key}}</div>
          </div>
          <div class="{{key}}">
            <div class="p1rem js-event-list event"  ng-repeat="(key1,val1) in setting[4][key] track by $index">
                <label class="item item-input ">
                  <span class="input-label col-50 c-blue">{{key1}}</span>
                 <!--  <span class="input-label col-50 c-blue">{{val1}}</span> -->
                  <input type="number" ng-change="watchSet(4,key,key1,val1)"  ng-model="val1">
                </label>
            </div>
          </div>
       </div>
       <div class="list">
          <div class="title box-vm js-event-title" ng-click="toReset(4)">
            <i class="ion-plus-circled"></i>
            <div class="flex ml20 fs18 c-black">恢复默认值</div>
          </div>
       </div>
    </div>
 
 </div> 
</ion-scroll>