		<div class="header box-vm ">
		  <div class="w" ng-click="back()">
	        <img src="img/back1.png" class="vm">
	        <span class="vm ml10">返回</span>
	      </div>
           <div class="flex td fb fs20">
              {{people.name}}
           </div>
			 <div class="w" >
             <span class="vm mr10">&nbsp&nbsp</span>
           </div>
		</div>
	<div class="list ml5 pt25 tc standard">
		<form action="" name="userInfo">
			 <label class="item item-input item-input_setting">
		        <span class="input-label">旧密码</span>
	            <input type="password" name="oldPassword" ng-model="oldPassword" placeholder="请输入旧密码" required>
	         </label>
	         <span class="c-purple" ng-show="userInfo.oldPassword.$error.required">请输入旧密码</span>
	         <label  class="item item-input item-input_setting">
		        <span class="input-label">新密码</span>
			    <input type="password" name="newPassword_1" ng-model="newPassword_1" placeholder="请输入新密码" required>
	         </label>
	            <span class="c-purple" ng-show="userInfo.newPassword_1.$error.required">请输入新密码</span>
	         <label  class="item item-input item-input_setting">
		        <span class="input-label">确认新密码</span>
			    <input type="password" name="newPassword_2" ng-model="newPassword_2" placeholder="请输入新密码" required>
			 </label>
	            <span class="c-purple" ng-show="userInfo.newPassword_2.$error.required">确认密码</span>
                 <div class="tc pt10">
					<button ng-click="editPassword()" class="button button-positive" ng-disabled="userInfo.oldPassword.$dirty && userInfo.oldPassword.$invalid ||  userInfo.newPassword_1.$dirty && userInfo.newPassword_1.$invalid ||  userInfo.newPassword_2.$dirty && userInfo.newPassword_2.$invalid">
             提交</button>
                 </div>
		</form>
	</div>