	   <div class="header box-vm ">
      <div class="w" ng-click="back()">
          <img src="img/back1.png" class="vm">
          <span class="vm ml10"><a href="">返回</a></span>
        </div>
           <div class="flex td fb fs20">
              语言设置
           </div>
       <div class="w" ng-click = save() >
             <span class="vm mr10"><a href="">保存</a></span>
           </div>
    </div>
	<div class="list card card_setting">

   <form >
        <label class="item item-radio">
          <input type="radio" name="language" ng-model="systemSet.language" value="简体中文">
          <div class="radio-content">
            <div class="item-content">
             简体中文
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
        </label>

        <label class="item item-radio">
          <input type="radio" name="language" ng-model="systemSet.language" value="繁体中文">
          <div class="radio-content">
            <div class="item-content">
              繁体中文
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
        </label>

        <label class="item item-radio">
          <input type="radio" name="language" ng-model="systemSet.language" value="英语">
          <div class="radio-content">
            <div class="item-content">
              English
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
        </label>
     </form>
    </div>