  		<div class="header box-vm ">
		  <div class="w" ng-click="back()">
	        <img src="img/back1.png" class="vm">
	        <span class="vm ml10">返回</span>
	      </div>
           <div class="flex td fb fs20">
              {{people.name}}
           </div>
			 <div class="w" >
             <span class="vm mr10">&nbsp&nbsp</span>
           </div>
		</div>
   	<div class="list card card_setting">

	  <a ng-click="toPassword()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    管理员密码修改
	  </a>

	  <a ng-click="toInformation()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    医院信息设置
	  </a>

	  <a ng-click="toLanguage()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    语言设置
	  </a>
    </div>