   <div class="bar bar-header bar-light">
	  <title class="title">系统设置</title>
	  <button class="button button-positive button_checkset" ng-click="back()">返回</button>
   </div>
   	<div class="list card card_setting">

	  <a ng-click="toPassword()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    管理员密码修改
	  </a>

	  <a ng-click="toInformation()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    医院信息设置
	  </a>

	  <a ng-click="toLanguage()" class="item  item-icon-right item_setting">
	    <i class="icon ion-chevron-right"></i>
	    语言设置
	  </a>
    </div>