	<div class="bar bar-header bar-light">
	  <h1 class="title">管理员密码修改</h1>
	  <button class="button button-positive button_checkset" ng-click="back()">返回</button>
	</div>
	<div class="list card_setting">
	  <label class="item item-input item-input_setting">
	    <input type="text" placeholder="admin">
	  </label>
	  <label class="item item-input item-input_setting">
	    <input type="password" placeholder="请输入旧密码">
	  </label>
	  <label class="item item-input item-input_setting">
	    <input type="password" placeholder="请输入新密码">
	  </label>
	  <label class="item item-input item-input_setting">
	    <input type="password" placeholder="请输入新密码">
	  </label>
	  <button class="button button-positive">确定</button>
	</div>