<div class="header box-vm ">
	<div class="w" ng-click="back()">
		<img src="img/back1.png" class="vm">
		<span class="vm ml10">返回</span>
	</div>
	<div class="flex td fb fs20">
		医院信息设置
	</div>
	<div class="w" >
		<span class="vm mr10">&nbsp&nbsp</span>
	</div>
</div>
<div class="list card_setting info_setting">
	<label class="item item-input item-input_setting">
		<span class="input-label info_span col-10">名称</span>
		<input type="text" class="info_input"  ng-disabled="isDisabled" ng-model="systemSet.h_name">
	</label>
	<label class="item item-input item-input_setting">
		<span class="input-label info_span col-10">科室</span>
		<input type="text" class="info_input"  ng-disabled="isDisabled" ng-model="systemSet.ad_name">
	</label>
	<label class="item item-input item-input_setting">
		<span class="input-label info_span col-10">病区</span>
		<input type="text" class="info_input"  ng-disabled="isDisabled" ng-model="systemSet.area">
	</label>
	<label class="item item-input item-input_setting">
		<span class="input-label info_span col-10">地址</span>
		<input type="text" class="info_input"  ng-disabled="isDisabled" ng-model="systemSet.address">
	</label>
	<label class="item item-input item-input_setting">
		<span class="input-label info_span col-10">电话</span>
		<input type="text" class="info_input"  ng-disabled="isDisabled" ng-model="systemSet.telephone">
	</label>
	<div class="row">
		<div class="col"><button class="button button-positive cg" ng-click="toChange()" ng-init="setting='编辑'"><!-- 编辑 -->{{setting}}</button></div>
		<!-- <div class="col"><button class="button button-positive cgg" ng-click="save()">保存</button></div> -->
	</div>
</div>